body {
  background-color: #bebebe;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 310px;
  height: 160px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  -moz-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}

.location {
  box-sizing: border-box;
  z-index: 8;
  height: 20%;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.currentWeatherInfo {
  width: 98%;
  height: 55%;
  position: relative;
  left: 2%;
}

.climateBg {
  position: relative;
  width: 45%;
  height: 100%;
  border-top-right-radius: 10px;
  float: left;
}

img::before {
  content: " ";
}

.weatherIcon {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.sunInfo {
  position: relative;
  width: 25%;
  float: left;
  top: 10%;
  height: 90%;
  text-transform: uppercase;
}

.sun {
  position: relative;
  left: 15%;
  height: 28%;
}

.sunrise::before, .sunset::before {
  bottom: 10%;
  position: relative;
}

.sunrise::before { 
  content: "\2191  ";
}

.sunset::before {
  content: "\2193  ";
}

.sunrise, .sunset {
  height: 28%;
}

.forecastInfo {
  position: relative;
  width: 90%;
  height: 25%;
  left: 5%;
  text-align: center;
  font-size: 0.7em;
}

.dayInfo {
  position: relative;
  color: rgb(0, 0, 0);
  float: left;
  width: 20%;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.noRightBorder {
  border-right: none;
}

.temperature {
  position: relative;
  float: left;
  top: 10%;
  width: 30%;
  font-size: 3.75em;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.hidden {
  display: none;
}